.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 50px 1fr;
  grid-gap: 16px;
  grid-template-areas: 'h h' 's m';
}

.app-wrapper-main {
  grid-area: m;
  background-color: #f7f7f7;
  padding: 20px;
}