.dialogs_wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #fff;
}

.dialogs {
    padding: 10px;
    border-right: 1px solid #e4e4e4;
}

.dialogs_item {
    display: block;
    color: #333;
    margin-bottom: 5px;
    text-decoration: none;
}

.dialogs_item_current {
    font-weight: bold;
}

.messages {
    padding: 10px 30px;
}